@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* From Uiverse.io by kandalgaonkarshubham */ 
.container {
  width: 100vw;
  height: 100dvh;
  --s: 37px; /* control the size */

  --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
  
  font-family: 'Orbitron';
  position: fixed;
  overflow-x:auto;
}
.dark_mode_button{
    position:fixed;
    top:0;
    right:0;
    margin:20px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:50px;
    padding:3rem;
}
.my_image{
    height:100px;
    width:100px;
}
.my_self{
    font-size:1.2rem;
}
.hero_buttons{
    display:flex;
    gap:20px;
    justify-content: center;
}
.tech_stack{
    padding:80px 0;
}
.app_projects_title{
    text-align: center;
    font-size: 2rem;
    color:white;
    font-weight: bold;
    animation:autoView both;
    animation-timeline:view(70% 5%);
}
.app_projects{
    display: flex;
    flex-direction:column;
    gap:3rem;
    padding:30px 0;
}
.app_item{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;
}
.app_item_img{
    width:300px;
    border-radius:20px;
    overflow:hidden;
    animation:autoView both;
    animation-timeline:view(70% 5%);
}
.app_item_img img{
    width:100%;
}
.app_item_name a{
    font-size:1.5rem;
    color:#12c612;
}
@keyframes autoView{
    from{
        opacity:0;
        transform: translateY(400px) scale(0.3);
    }to{
        opacity:1;
        transform: translateY(0) scale(1);
    }
}
